.home-offer {

    &__slider {
        max-width: 1350px;
        width: 100%;
        margin: auto;
    }

    &__slide {
        padding: 115px 0 50px 60px;
    }

    &__wrapper {
    }

    &__title {
    }

    &__btn {
    }

    &__slider-dots {
    }
}
